* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.head {
  border: 1px solid #e6e8ec;
  /* background-color: #F4F5F6; */
  background: #ffffff;
  /* position: fixed; */
  width: 100%;
  /* background-attachment: fixed; */
}
.container {
  width: 80%;
  /* position: fixed; */
  margin: auto;

  padding: 24px 0px;
  gap: 601px;

  /* width: 1120px;  */
  /* height: 82px; */

  /* background:red; */
  /* Neutral/6 */
}
.headmenu {
  display: flex;
  div {
    a {
      padding: 31px 0px;
      /* width: 69px;
        height: 20px; */

      /* Cap 1 */

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      letter-spacing: -0.01em;

      /* Neutral/3 */
      //   color: red;
      color: #353945;
      text-decoration: none;
      //   margin-left: 24px;
    }
  }
}

.line {
  height: 2px;
  background-color: black;
  transition: all 0.8s;
  width: 0;
  z-index: 100;
  border-radius: 5px;
  visibility: hidden;
}
.ani {
  margin-left: 24px;
}
.ani:hover .line {
  width: 100%;
  visibility: visible;
}
.footer {
  
  border-top: 1px solid #e6e8ec;
  padding-bottom: 20px;
  .container {
    width: 80%;
    /* position: fixed; */
    margin: auto;

    padding: 24px 0px;
    gap: 601px;
    
    div {
      
      .f1 {
        a {
          .img {
            /* text-align: center; */
            margin-bottom: 32px;
          }
        }
        p {
          width: 318px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          /* or 143% */

          /* Neutral/4 */

          color: #777e91;
        }
      }
      .f2 {
        padding-top: 48px;
        h6{
          margin-bottom: 24px;
        }
        
        a {
          display: block;
          text-decoration: none;
          margin-bottom: 20px;
          cursor: pointer;
          /* Cap 2 */

          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          /* identical to box height, or 143% */

          /* Neutral/4 */

          color: #777e91;
        }
      }
      
    }
    .footline {
      padding-bottom: 20px;
      border-bottom: 1px solid #e6e8ec;
      .ab {
        width: 26px;
        height: 26px;
        margin-right: 16.2px;
      }
    }
  }
}





